*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    list-style-type: none;
}

.app {
    padding: 20px;
    min-width: 550px;
    height: 525px;
    border-radius: 16px;
    -webkit-box-shadow: 1px 3px 21px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 3px 21px -4px rgba(66, 68, 90, 1);
    box-shadow: 1px 3px 21px -4px rgba(66, 68, 90, 1);
    .app-title {
        text-align: center;
        margin-bottom: 2rem;
    }
    .question-title {
        color: #fff;
        font-size: 40px;
        margin-bottom: 1.5rem;
    }
    .form-app {
        border-radius: 15px;
        padding: 15px;
        background: #1b1363;
        display: flex;
        flex-direction: column;
        .app__list {
            display: grid;
            gap: 15px;
            margin-bottom: 10px;
            .app__list-item {
                color: #fff;
                font-weight: 700;
                padding: 10px;
                border: 2px solid #fff;
                border-radius: 13px;
            }
        }
    }
}

.question-range {
  border: solid 1px #616161;
  border-radius: 8px;
  height: 14px;
  position: relative;
  max-width: 100%;
  margin-bottom: 15px;
  background: gray;
  outline: none;
  padding: 2px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  transition: all .5s ease;
  &:hover .wer {
    display: block;
    opacity: 1;
    transition: all .5s ease;
  }
  .wer {
    position: absolute;
    transition: all .5s ease;
    top: 20px;
    left: 50%;
    font-size: 11px;
    color: #fff;
    opacity: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    z-index: 1;
    display: block;
    padding: 2px;
    background: #000;
    &::before {
        transition: all .5s ease;
        border: 10px solid transparent;
        border-bottom: 10px solid #000;
        content: '';
        top: -20px;
        left: 0;
        position: absolute;
    }
  }

}

.range {
    height: 5px;
    padding: 4px;
    transition: all .5s ease-in;
    border-radius: 8px;
    background-color: rgba(22, 73, 210, 1);
    background-image: linear-gradient(90deg, rgba(22, 73, 210, 1) 0%, rgba(40, 186, 223, 1) 20%, rgba(23, 227, 86, 1) 40%, rgba(221, 229, 50, 1) 60%, rgba(192, 148, 27, 1) 80%, rgba(212, 26, 26, 1) 100%);
}


  
.error {
    color: red !important;
    border: 2px solid red !important;
}

.correct {
    color: #14a539 !important;
    border: 2px solid #14a539 !important;
}

.disabled {
    pointer-events: none;
}

.btn {
    padding: 10px 0px;
    width: 175px;
    border: 2px solid transparent;
    border-radius: 23px;
    background: #fff;
    color: #1b1363;
    font-weight: 700;
    font-size: 16px;
    transition: all .5s ease;
    &:hover {
        border: 2px solid #ffffff;
        background: #14a539;
        color: #fff;
        transition: all .5s ease;
    }
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: all .5s ease-in;
    transform: scale(1.5);
    animation: open 2s 1 linear;
    &-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        padding: 20px;
        border-radius: 13px;
        min-width: 300px;
        height: 300px;
        &__title {
            text-align: center;
            text-transform: uppercase;
            color: #1b1363;
            margin-bottom: 2rem;
        }
        &__text {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 3rem;
        }
        &__btn {
            background: #1b1363;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            border: none;
            transition: all .5s ease;
            padding: 13px;
            border-radius: 14px;
            &:hover {
                transition: all .5s ease;
                background: #c79832;
            }
        }
    }
}

.generated-completed-str {
    margin-bottom: 1rem;
    font-weight: 700;
    color: #c9e73f;
}

.btn-error {
    animation: btnError .2s 1 linear;
    transition: all .5s ease;
}

.modal.active {
    display: flex;
    transition: all .5s ease-in;
    animation: open 1s 1 linear;
}

@keyframes open {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.49);
    }
}

@keyframes btnError {
    0% {
        transform: translateX(10px);
        background: red;
        color: #fff;
    }
    25% {
        transform: translateX(-10px);
        background: red;
        color: #fff;
    }
    50% {
        transform: translateX(10px);
        background: red;
        color: #fff;
    }
    75% {
        transform: translateX(-10px);
        background: red;
        color: #fff;
    }
    100% {
        transform: translateX(0px);
        background: red;
        color: #fff;
    }
}